
.navbar{
    background-color: #dddddd
}

.quem-somos{
    background-color: white;
}

.margin{
    padding-bottom: 50px;
    padding-top: 20px;
}

.parceiros{
    background-color:azure
}

.bg-footer{
    background-color: black;
    color: white;
}